.full-container-dashboard {
  height: 92%;
  display: flex;
}

.left-container-dashboard {
  height: 100%;
  width: 50%;
  padding: 0;
  margin-right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
}

.right-container-dashboard {
  height: 100%;
  width: 50%;
  padding: 0;
  margin-right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.heading-dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
}
