.full-container-dashboard {
  height: 92%;
}

.top-container-dashboard {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-info-container-dashboard {
  height: 50%;
  width: 100%;
}

.top-content-container-dashboard {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-content-container-dashboard h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 8px;
  font-family: 'Lato', sans-serif;
}

.dashboard-circles {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 28px;
  color: black;
  line-height: 100px;
  text-align: center;
  background-color: #36a1b6;
  font-family: 'Lato', sans-serif;
  border: 1px solid black;
}

.dashboard-age {
  background-color: #36a1b6;
}

.bottom-container-dashboard {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heading-dashboard {
  width: 100%;
  display: block;
  text-align: center;
}

.heading-dashboard h1 {
  font-size: 25px;
  margin: 0;
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
}

.heading-dashboard p {
  margin: 0;
  padding: 0;
  color: grey;
}

.dashboard-profile-pic {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.calc-headings {
  display: flex;
  justify-content: center;
}

.calc-sliders {
}

.calc-height-slider {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

.calc-weight-slider {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.calc-sliders p {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.calc-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
