.full-container-profile {
  height: 92%;
}

.header-container-profile {
  padding-top: 50px;
}

.profile-picture {
  width: 15%;
  text-align: center;
  margin: 0 auto;
}

.content-container-profile {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.update-details-profile {
  /* border: 1px black solid; */
  width: 30%;
}

.progress-profile {
  /* border: 1px black solid; */
  width: 30%;
}

.profile-h4-typo {
  text-align: center;
  padding-top: 20px;
}
