.full-container-profile {
  height: 92%;
}

.header-container-profile {
  padding-top: 20px;
}

.profile-picture {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.content-container-profile {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

.update-details-profile {
  border: 1px black solid;
  width: 30%;
  padding-bottom: 10px;
}

.progress-profile {
  border: 1px black solid;
  width: 30%;
}

.profile-h4-typo {
  text-align: center;
  padding-top: 20px;
}

.profile-input-name {
  flex-wrap: wrap;
  display: flex;
  margin-top: 15px;
}

.profile-input {
  flex-wrap: wrap;
  display: flex;
  margin-top: 15px;
}

.profile-inputs {
  padding-left: 10px;
  padding-top: 10px;
}

.profile-input-selector {
  padding-left: 10px;
}

.profile-inputtf {
  width: 60px;
}

.inputtf-name {
  width: 180px;
}

.profile-buttons {
  padding-top: 40px;
  padding-right: 10px;
  text-align: end;
}

.profile-update-button {
  width: 120px;
}

.progress-profile-container {
}

.progress-profile-progress {
  display: flex;
}

.section-profile-progress {
  width: 25%;
  text-align: center;
}

.profile-workout-container {
  border: 1px solid black;
  margin: 5px 5px 5px 5px;
  border-radius: 15px;
}

.profile-workout-container h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  text-align: center;
}
