.home-h1 {
  margin: 0;
  font-size: 120px;
  margin-bottom: 5px;
  font-family: 'Noto Sans HK', sans-serif;
}

.inspire {
  padding-bottom: 15px;
}

.container-home {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  overflow: auto;
  margin-top: 10%;
}

.button {
  width: 300px;
  text-decoration: underline;
}

.button-section {
  padding-top: 10px;
}

.link {
  text-decoration: none;
}
