.paper {
  margin-top: 5%;
}

.Typo {
  text-align: center;
  padding-bottom: 50px;
}

p {
  margin-right: 10px;
}

.input {
  flex-wrap: wrap;
  display: flex;
  margin-top: 15px;
}

.inputSelectors {
  margin-top: 5px;
}

.inputtf {
  width: 100px;
}

.select {
  width: 200px;
}

.selectDobDay {
  width: 75px;
}
